.header, .footer {
    background-color: #406b40; /* Green background for header and footer */
    color: white; /* White text color for contrast */
    padding: 20px;
    text-align: center;
    font-size: 20px; /* Increased font size for header and footer */
}

.nav {
    background-color: #f8f9fa; /* Light gray background for the navigation bar */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 20px; /* Increased font size for navigation */
}

.nav a {
    text-decoration: none;
    color: #406b40; /* Green text for nav links */
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 20px; /* Ensure links also have increased font size */
}

.nav a:hover {
    color: white; /* White text on hover */
    background-color: #345030; /* Darker green background on hover */
}


.nav a:hover {
    color: white; /* White text on hover */
    background-color: #345030; /* Darker green background on hover */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* White background for content areas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 18px; /* Increased font size for content */
}
